
@media (min-width: 576px) and (max-width: 768px) {

    .slideshow-container {
        max-width: 100%;
    }

    .map-container {
        max-width: 100%;
    }
  

    .overlay-container {
        max-width: 100%;
    }

    .navbar a {
        font-size: 10px;    
    }

   


    details {
        width: auto;
    }

    .dropdown-content {
        flex-direction: row;
    }

    h1 {
        text-align: center;
        font-size: 24px;
    }

    h2 {
        text-align: center;
        font-size: 10px;
    }

   
   .destination-list {
    flex-direction: row;
    flex-wrap: wrap;    
   justify-content: center;
   text-align: center;
   }

   .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
}

.cards-about {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
}


   .cardsflip1 {
    padding: 100px;
}

   .slide img {
    width: 50%;
   }
}

@media (min-width: 400px) and (max-width: 575px) {


    .overlay-container {
        max-width: 100%;
    }

    .slideshow-container {
        max-width: 100%;
    }

    .map-container {
        max-width: 100%;
    }
 
    .navbar a {
        font-size: 10px;
        
    }

    details {
        width: auto;
    }

    .dropdown-content {
        flex-direction: row;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 10px;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 100px;
        max-width: 100%;
        
    }

    .cards-about {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 100px;

    }

    .cardsflip1 {
        padding: 100px;
    }


   .destination-list {
    flex-direction: row;
    flex-wrap: wrap;    
   justify-content: center;
   text-align: center;
   }


   .slide img {
    width: 50%;
   }
   
}
