
@media (min-width: 754px) and (max-width: 1024px) {

    .slideshow-container {
        max-width: 100%;
    }

 
    .map-container {
        max-width: 100%;
    }

    .crouton-order-img {
        max-width: 100%;
    }
  

    .overlay-container {
        max-width: 100%;
    }

    details {
        width: auto;
    }

    .dropdown-content {
        flex-direction: row;
    }

    h1 {
        max-width: 100%;
        margin-bottom: 120px;
        text-align: center;
        font-size: large;
    }

    h2 {
        text-align: center;
        font-size: 25px;
    }

    .dressing-coven-img {
        max-width: 100%;
       }

   .destination-list {
    flex-direction: row;
    flex-wrap: wrap;    
   justify-content: center;
   text-align: center;
   }

   .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
}

.cards-about {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
}

   .cardsflip1 {
    padding: 100px;
}

   .slide img {
    width: 50%;
   }

   .map-image-2 {
    max-width: 100%;;
   }
   .crouton-castle{
    max-width: 100%;
   }  
   .guard-container{
    max-width: 100%;
   }
   .map-container-2 {
    max-width: 100%;
}
}

@media (min-width: 300px) and (max-width: 753px) {
  


    .crouton-order-img {
        max-width: 100%;
    }

    .map-container-2 {
        max-width: 100%;
    }
  
    .guard-container{
        max-width: 100%;
       }
    .overlay-container {
        max-width: 100%;
    }

    .slideshow-container {
        max-width: 100%;
    }

    .map-container {
        max-width: 100%;
    }

    .crouton-castle{
        max-width: 100%;
       }   

    .navbar {
    display: none;
   }

    .navbar a {
    display: none;
    
   }

   .dressing-coven-img {
    max-width: 100%;
   }

    details {
        width: auto;
    }

    .dropdown-content {
        display: block;
        flex-direction: row;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 10px;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 100px;
        max-width: 100%;
        
    }

    .cards-about {
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 100px;

    }

    .cardsflip1 {
        padding: 100px;
    }


   .destination-list {
    flex-direction: row;
    flex-wrap: wrap;    
   justify-content: center;
   text-align: center;
   }

 

   .fruitmongers-img{
    max-width: 100%;
   }

   .slide img {
    width: 50%;
   }
   
}
