
@media (min-width: 576px) and (max-width: 767px) {
    .navbar {
        flex-direction: row;
        justify-content: center;
    }

    .navbar a {
        width: auto;
    }

    details {
        width: auto;
    }

    .dropdown-content {
        flex-direction: row;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

   
   .destination-list {
    flex-direction: row;
    flex-wrap: wrap;    
   justify-content: center;
   text-align: center;
   }

   .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
}

   .cardsflip1 {
    padding: 100px;
}

   .slide img {
    width: 50%;
   }
}

@media (min-width: 400px) and (max-width: 575px) {
    .navbar {
        flex-direction: row;
        justify-content: center;
    }

    .navbar a {
        width: auto;
    }

    details {
        width: auto;
    }

    .dropdown-content {
        flex-direction: row;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 100px;
        
    }

    .cardsflip1 {
        padding: 100px;
    }


   .destination-list {
    flex-direction: row;
    flex-wrap: wrap;    
   justify-content: center;
   text-align: center;
   }


   .slide img {
    width: 50%;
   }
   
}
