/*Bitter Greens*/



/*Crouton order*/

.crouton-order-img {
    height: 600px;
    width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 20px 12px rgb(0 0 0 / 82%);
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}

.h2-crouton {
  text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan, 0 0 80px cyan;
}
 

.footprint-1 {margin-left: 50%; margin-top: 5%; width: 100px; rotate: 160deg; animation: autoBlurAnimation both; animation-timeline: view(50% 5%);}
.footprint-2 {margin-left: 40%; margin-top: 8%; width: 100px; rotate: 130deg; animation: autoBlurAnimation both; animation-timeline: view(50% 5%);}
.footprint-3 {margin-left: 50%; margin-top: 11%;width: 100px; rotate: 160deg; animation: autoBlurAnimation both; animation-timeline: view(50% 5%);}
.footprint-4 {margin-left: 40%; margin-top: 14%; width: 100px; rotate: 130deg; animation: autoBlurAnimation both; animation-timeline: view(50% 5%);}
.footprint-5 {margin-left: 50%; margin-top: 17%; width: 100px; rotate: 160deg; animation: autoBlurAnimation both; animation-timeline: view(50% 5%);}

.crouton-castle {
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.guard-container {
  position: relative;
}

.guard-transperent {
    position: relative;
    width: 500px;
    margin-left: 70%;
    animation: autoBlurAnimation both;
    animation-timeline: view(90% 5%);
}

.bubble-text {
    transition: all 0.5s ease;
    animation: autoBlurAnimation both;
    animation-timeline: view(50% 5%);
    position: relative;
    top: -850px;
    left: 50%;
    background: #000000;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 450px;
    font-family: 'Cinzel', serif; 
}

.bubble-text:hover {
    transform: translate(7px);
    box-shadow: 3px 3px 15px 2px rgb(0 0 0);
}

#popup-menu-2 {
    top: -500px;
    position: relative;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    width: 500px;
    padding: 10px;
    border-radius: none;
    color: rgb(255, 255, 255);
    font-family: 'Cinzel', serif;
}

#popup-menu-2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    
    #popup-menu-2 li {
    margin: 10px 0;
    cursor: url(/assets/images/icons8-minecraft-sword-48.png);
    padding: 20px;
    background-color: #2b0909;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s ease;
    }
    
    #popup-menu-2 li:hover {
    background-color: #000000;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.589);
    }
    
    #popup-text-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background: rgba(116, 115, 115, 0.9);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Cinzel', serif;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
    }
    
    #popup-text-container button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #1abc9c;
        border: none;
        color: white;
        font-size: 1em;
        cursor: pointer;
        border-radius: 5px;
        transition: background 0.3s ease;
    }
    
    #popup-text-container button:hover {
        background-color: #7c3c12;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }to{
            transform: rotate(360deg);
        }
    }
    .pixel-sword {
        position: relative;
        margin: 200px;
        width: 500px;
        animation: spin 3s linear infinite;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: -200px;
    }


/*dressing coven*/
.dressing-coven-img {
    height: 500px;
    width: 650px;
    border-radius: 15px;
    box-shadow: 0 0 20px 12px rgb(0 0 0 / 82%);
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}

.map-container-2 {
    position:relative;
    width: 1000px;
    height: 500px;
    margin: 20px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
    cursor: cell;
  }

.map-image-2 {
    object-fit: cover;
    width: 1000px;
    justify-content: center;
    height: 500px;
    border-radius: 20px;
    box-shadow: 5px 5px 16px 8px rgb(0 0 0);
}
.dressing-coven-path{
    margin-left: 40%;
    margin-top: 2%;
    width: 400px;
    height: 600px;
}
  
.pin-dressing {left: 57%; top: 22%;}

.map-pin-2 {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 15%;
    transform: rotate(120deg);
    cursor: cell;
    transition: all 0.3s ease;
    font-family: 'Cinzel', serif;
}

.map-pin-2:hover {
    transform: scale(1.25);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.pixel-sword-2 {
    position: relative;
    margin: 200px;
    width: 500px;
    animation: spin 3s linear infinite;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*Fruit mogers*/

.guard-container-2 {
    position: relative;
    display: flex;
    margin: 25px;
    animation: autoBlurAnimation both;                             
    animation-timeline: view(90% 5%);     
  }

.fruitmongers-img {
    margin: 50px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 15%;
    box-shadow: 0 5px 8px 10px rgb(0 0 0 / 70%);
}

.guard-transperent-2 {
   width: 500px;
}

.bubble-text-2 {
    transition: all 0.5s ease;  
    background: #000000;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 450px;
    font-family: 'Cinzel', serif; 
}

.bubble-text-2:hover {
    transform: translate(7px);
    box-shadow: 3px 3px 15px 2px rgb(0 0 0);
}

#popup-menu-3 {
    position: relative;
    width: 500px;
    padding: 10px;
    border-radius: none;
    color: rgb(255, 255, 255);
    font-family: 'Cinzel', serif;
}

#popup-menu-3 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    
    #popup-menu-3 li {
    margin: 10px 0;
    cursor: url(/assets/images/icons8-minecraft-sword-48.png);
    padding: 20px;
    background-color: #2b0909;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s ease;
    }
    
    #popup-menu-3 li:hover {
    background-color: #000000;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.589);
    }