/*Bitter Greens*/



/*Crouton order*/

.crouton-order-img {
    height: 600px;
    width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 20px 12px rgb(0 0 0 / 82%);
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}

.h2-crouton {
  text-shadow: 0 0 10px cyan, 0 0 20px cyan, 0 0 40px cyan, 0 0 80px cyan;
}
 

.footprint-1 {margin-left: 50%; margin-top: 5%; width: 100px; rotate: 160deg; animation: autoBlurAnimation both; animation-timeline: view(50% 5%);}
.footprint-2 {margin-left: 40%; margin-top: 8%; width: 100px; rotate: 130deg; animation: autoBlurAnimation both; animation-timeline: view(50% 5%);}
.footprint-3 {margin-left: 50%; margin-top: 11%;width: 100px; rotate: 160deg; animation: autoBlurAnimation both; animation-timeline: view(50% 5%);}
.footprint-4 {margin-left: 40%; margin-top: 14%; width: 100px; rotate: 130deg; animation: autoBlurAnimation both; animation-timeline: view(50% 5%);}
.footprint-5 {margin-left: 50%; margin-top: 17%; width: 100px; rotate: 160deg; animation: autoBlurAnimation both; animation-timeline: view(50% 5%);}
.footprint-6 {margin-left: 40%; margin-top: 20%; width: 100px; rotate: 130deg; animation: autoBlurAnimation both; animation-timeline: view(50% 5%);}

.crouton-castle {
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.guard-transperent {
    width: 500px;
    margin-left: 1200px;
    animation: autoBlurAnimation both;
    animation-timeline: view(90% 5%);
}

.bubble-text {
    animation: autoBlurAnimation both;
    animation-timeline: view(50% 5%);
    position: absolute;
    top: 440%;
    left: 55%;
    background: #000000;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 300px;
    font-family: 'Cinzel', serif; 
}

.bubble-text:hover {
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 3px 3px 15px 2px rgb(0 0 0);
}



/*dressing coven*/
.dressing-coven-img {
    height: 500px;
    width: 650px;
    border-radius: 15px;
    box-shadow: 0 0 20px 12px rgb(0 0 0 / 82%);
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}
.map-image-2 {
    object-fit: cover;
    width: 900px;
    justify-content: center;
    height: 500px;
    border-radius: 20px;
    box-shadow: 5px 5px 16px 8px rgb(0 0 0);
}
.dressing-coven-path{
    margin-left: 40%;
    margin-top: 2%;
    width: 400px;
    height: 600px;
}

.map-container-2 {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 20px;
    display: flex;
    top: -50px;
    position:relative;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
    cursor: cell;
  }
 
.pin-dressing {left: 36%; top: 22%;}

.map-pin-2 {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 15%;
    transform: rotate(120deg);
    cursor: cell;
    transition: all 0.3s ease;
    font-family: 'Cinzel', serif;
}

.map-pin-2:hover {
    transform: scale(1.25);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.text-box {
    font-size: xx-large ;
}

